.idea

docker/docker-compose.override.yml
docker/srv-conf/composer/auth.json

/source/build/
/source/node_modules/
/sourcenpm-debug.log
/sourceyarn-error.log
/source/var/*
!/source/var/cache
/source/var/cache/*
!/sourcevar/cache/.gitkeep
!/source/var/data
!/source/var/log
/source/var/log/*
!/sourcevar/log/.gitkeep
!/source/var/sessions
/source/var/sessions/*
!/sourcevar/sessions/.gitkeep
!/sourcevar/SymfonyRequirements.php
/source/public/build/fonts/glyphicons-*
/source/public/build/images/glyphicons-*

source/config/depmon.yaml